* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Venada', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(20, 20, 20,0.95),rgba(20, 20, 20,0.90));
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(20, 20, 20,0.65),rgba(20, 20, 20,0.60));
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 50px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.5s;
}
nav ul li a:hover {
    -webkit-text-stroke: 0.5px white;
    color: transparent;
}

.content {
    text-align: center;
}
.content h1 {
    font-size: 80px;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.content p {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    transition: 0.5s;
}
.content p:hover{
    -webkit-text-stroke: 0.5px white;
    color: transparent;
}

.bgvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .bgvideo {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bgvideo {
        width: auto;
        height: 100%;
    }
}